html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0; padding: 0;
	border: 0; outline: 0;
	font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit;
	vertical-align: baseline; }
 
	/* remember to define focus styles! */
:focus {  }
 
body {
	line-height: 1;
	color: black;
	background: white; }
 
ol, ul { list-style: none; }
 
	/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0; }
 
caption, th, td {
	text-align: left;
	font-weight: normal; }
 
blockquote:before, blockquote:after,
q:before, q:after { content: ""; }
 
blockquote, q { quotes: "" ""; }
 
/*	=Réglage des float				*/
 
.clearfix:after {
	visibility: hidden;
    clear: both; display: block; height: 0;
    font-size: 0; content: " "; }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
 
/*	=Typo générale					*/
html { font-size: 100.01%; /* pour IE */ }
 
body {
	font: 0.75em/1.5 Georgia, "Times New Roman", Times, serif; /* corps : 12px/18px */
	margin: 0; }
	
/* =Rubrique video */
.rubrique-video .hierarchie, .rubrique-video .entete, .rubrique-video #videos {
	width: 520px; }

.rubrique-video .entete {
	margin-bottom: 36px; }

.entete .descriptifRubrique p {
	color: #666; }

.rubrique-video #videos {
	float: left; }

.afficheUne {
	width: 520px; }
	
.afficheUne h2 {
	font-size: 20px; line-height: 18px;
	margin-bottom: .8em; }

.afficheUne h3 {
	font-size: 14px; line-height: 18px;
	height: 3em; margin-bottom: .5em; }

.afficheUne a.logo {
	border: 0;
	display: block;
	float: left; }

.afficheUne .selection {
	border-bottom: 1px dotted #000;
	margin-bottom: 2em; padding-bottom: 2em; }

.afficheUne .normal {
	float: left;
	border-bottom: 1px dotted #000;
	margin-right: 20px; margin-bottom: 2em; padding-bottom: 2em;
	width: 160px; }

.afficheUne .normal.dernier {
	margin-right: 0; }

.afficheUne .selection .descriptif {
	float: right;
	width: 160px; }

.afficheUne .normal .descriptif {
	float: left;
	margin-top:	.5em }

.rubrique-video .pagination {
	text-align: right;
	margin: 1em 0; }
	
.rubrique-video .pagination span.on {
	font-weight: bold;
	color: #fff;
	background-color: #909;
	xborder: 2px solid #909;
	padding: 1px 3px 2px; }
	
/* =Menu latéral sélection thématique */
.rubrique-video #tags dt {
	font: 12px/1.5 Futura,"Helvetica Neue",Helvetica,Arial,sans-serif; text-transform: uppercase;
	border-bottom: 1px solid #000;
	margin: 0; }

.rubrique-video #tags dd {
	font: 12px/1.5 Futura,"Helvetica Neue",Helvetica,Arial,sans-serif;
	margin: .5em 0; xpadding: 2px 4px; }

.rubrique-video #tags dd strong.on {
	background-color: #000; color: #fff;
	padding: 0 2px; }

.rubrique-video #tags dd a {
	color: #000; border: 0; }

/* =Selection d'articles page accueil */
#selection {
	background-color: #000;
	border: 2px solid #000;
	overflow: hidden;
	position: relative;
	xheight: 450px; width: 496px; 
	margin: 10px 0 2em; padding-right: 200px; }

#selection a {
	border: 0; }

#selection ul {
	position: absolute; top: 0; left: 491px; z-index: 100;
	width: 205px; }
	
#selection ul li {
	font-family: Futura,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 11px; }

#selection ul li.ui-tabs-selected {
	background: transparent url(../../img/selected-item.png) no-repeat left center; }

#selection ul li a {
	 display: block; margin-left: 10px; padding: 4px 0; }

#selection ul li.ui-tabs-selected a {
	background-color: #fff; }

#selection ul li a img {
	margin: 0 6px;
	float: left; }

#selection .ui-tabs-panel { 
	position: relative; z-index: 1;
	overflow: hidden; width: 496px; height: 370px; }

#selection .ui-tabs-hide { display: none; }

#selection .ui-tabs-panel .info {
	color: #fff;
	position: absolute; left: 0; bottom: 0;
	background-image: url(../../img/transparent-bg.png);
	padding: 4px; }

#selection .ui-tabs-panel .info h2 {
	font-size: 16px; }	

/* css originales */

.spip_documents_left {
	margin-right:20px;
	margin-bottom:10px;
}

.spip_documents_right {
	margin-left:20px;
	margin-bottom:10px;
}

#logo { 
	float: left;
	position: absolute; margin-top: -97px; }

#logo a { 
	text-indent: -9999px;
	border: 0;
	display: block; overflow: hidden;
	height: 192px; width: 160px; }

img#LogoAUP {
	/*
	position: absolute;
	height: auto;
	width: auto;
	top: 4px;
	right: 69%;
	margin-right: 1%;
	left: auto;
	*/
}
a, a:link {
	color: #909;
	text-decoration: none;
	border-bottom: 1px dotted #ccc;
}
a:visited {
	color: #306;
	border-bottom: 1px dotted #ccc;
}
a:hover, a:active, #menu li a:hover, .rubrique-video #tags dd a:hover {
	color: #C39;
	text-decoration: none;
	border-bottom: 1px solid #C39;
}
a.noline, a.noline:link, a.noline:visited, a.noline:hover, a.modal {
	border-bottom-style: none;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Helvetica Neue",Helvetica, Arial, sans-serif;
}
.rien {
	clear: both;
	height: 5px;
}
.invisible {
	display: none;
}
#ImgOuverture {
	margin: 15px 0;
	background-color: #000;
}
.ImgOuverture {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 1em;
	width: 520px;
	background-color: #000; }

#menu li {
	text-align: right; font-family: Futura,"Helvetica Neue",Helvetica,Arial,sans-serif; line-height: 1.3;
	text-transform: uppercase;
	margin-bottom: .25em;
	
}
#menu li a {
	color: #000;
	border-color: #fff; }

#menu li.on a {
	font-weight: bold; }

 #menu2 {
	margin-bottom: 30px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 80%;
	width: 180px;
	left: auto;
	top: auto;
	position: relative;
}
#menu2 img {
	border: 1px solid #333;
	margin-right: 2px;
}
#menu2 dt {
	display: inline;
}
#menu2 dd {
	position: absolute;
	left: 0px;
	top: 20px;
	margin: 0px;
	padding: 0px;
	visibility: hidden;
}
.encadrement {
	margin-bottom: 2em;
	padding-right: 10px;
	border: 1px solid #E6E6E6;
	padding-bottom: 2px;
	margin-top: 1em;
	background-color: #FFF;
}
.encadrement h2, .sommaireRubriques h2, .archives h2, .media1 h2, .RubriquePortfolioUne h2 {
	margin-top: 0px;
	font-size:120%;
}


.encadrement, .encadrement-archives {
	margin-bottom: 2em;
	padding-right: 10px;
	/* border: 1px solid #E6E6E6;*/
	padding-bottom: 2px;
	margin-top: 1em;
	background-color: #FFF;
}
.encadrement-archives {
	margin-bottom:.5em;
}
.encadrement h2, .encadrement-archives h2, .sommaireRubriques h2, .archives h2, .media1 h2, .RubriquePortfolioUne h2 {
	margin-top: 0px;
}




.CorpsRubrique h2 {
	font-size: 140%;
	margin-top: 1.8em;
	margin-bottom: 0px;
	margin-left: 0px;
}
#ColonneRadio h2.RubRadioTitreArt {
	font-size: 100%;
	color: #909;
	margin-left: 10px;
	margin-bottom: 0px;
	margin-top: 1.8em;
	line-height: 0.8em;
}
.encadrement h3, div.contenuDossier h3, .RubriquePortfolioUne h3, .CorpsRubrique h3, h3.RubTitreRepi, .encadrement h4.titre {
	font-size: 120%;
	margin-left: 10px;
	margin-top: 0em;
	margin-bottom: 0em;
	line-height: 1.2em;
	color:#609;
}
.encadrement h3.AutresArticles {
	font-size: 100%;
	margin-left: 10px;
	margin-top: 0.8em;
	margin-bottom: 0em;
	line-height: 1.2em;
	list-style-type: disc;
}
h3.RubIntertitre {
}
.encadrement h3.inter {
	margin:1em 10px 0.3em 10px;
	border-bottom:1px solid #d6d6d6;
}
.encadrement h4, .RubriquePortfolioUne h4, #GuideGlossaireGauche h4, #GuideGlossaireDroite h4, #GuideGlossaire h4, .encadrement h5.surtitre, .encadrement h5.soustitre  {
	font-size: 100%;
	margin-left: 10px;
	margin-top: 0em;
	color: #66F;
	margin-bottom: 0em;
	font-weight: normal;
	line-height: 1.4em;
}
h4.titre {
	font-weight:bold;
}
h4.titre2 {
	margin-top:0.5em;
	font-weight:bold;
}
.encadrement h5, .RubriquePortfolioUne h5 {
	font-size: 85%;
	margin-left: 5px;
	font-weight: normal;
	color: #666;
	margin-bottom: 0.6em;
}
.encadrement p, .GuideGlossaireColonne p, div.contenuDossier p, .RubriquePortfolioUne p, .CorpsRubrique p, #GuideGlossaireGauche p, #GuideGlossaireDroite p, #GuideGlossaire p, #ColonneRadio p,  p.RubIntroRepi {
	margin-left: 20px;
	line-height: 1.4em;
	margin-bottom: 3px;
	padding: 0px;
	margin-top: 0.8em;
	font-size: 100%;
}
.GuideGlossaireColonne p {
	margin-bottom:1.5em;
}
.encadrement ul {
	margin:0;
	padding-left:0;
}
.encadrement li {
	padding-left:10px;
	margin:0 0 0 0.4em;
	list-style-position: inside;
	list-style-type: none;
	font-size:100%;
}
.encadrement li.tous {
	list-style-type:none;
	margin:0.8em 0 1em 0;
}
	
p.Date {
	font-size: 85%;
	margin-left: -5px;
	color: #666;
	margin-top: 3em;
	margin-bottom: 0px;
	line-height: 1em;
	font-family: Helvetica, Arial, sans-serif;
}
p.DateRubrique {
	color: #666;
	font-size:90%;
	margin-top: 0px;
	margin-bottom: 0px;
}
p.intro {
	font-weight:bold;
	margin-top:0;
}
.encadrement dd {
	line-height: 1.2em;
}
.encadrement dl {
	margin-left: 30px;
	font-family: Helvetica, Arial, sans-serif;
	width: 50%;
	line-height: 1.5em;
}
.encadrement dt {
	font-weight: bold;
}
.coin {
	position: relative;
	left: -1px;
	margin: 0px 0px -6px;
	top: 1px;
}
img.coinMedias {
	position: relative;
	top: 186px;
	margin-bottom: -5px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
}
.media {
}
.media1 {
	width: 128px;
	border: 1px solid #E6E6E6;
	height: 185px;
	float: left;
	margin-right: 9px;
	margin-bottom: 9px;
	margin-top: 0px;
}
.media2 {
	float: left;
	border: 1px solid #E6E6E6;
	text-align: center;
	width: 128px;
	height: 185px;
	margin-right: 9px;
	margin-bottom: 9px;
	margin-top: 0px;
}
.media3 {
	float: left;
	text-align: center;
	width: 128px;
	padding-top: 10px;
	height: 175px;
	border: 1px solid #FFF;
	margin-right: 9px;
	display: none;
	margin-bottom: 9px;
	margin-top: 0px;
}
.media4 {
	float: left;
	width: 338px;
	font-weight: bold;
	margin-top: 0px;
	font-family: Helvetica, Arial, sans-serif;
	padding-top: 3px;
}
.media5 {
	margin-bottom: 1.8em;
}
.logoMedias {
	margin-top: 9px;
}
.boites {
	margin-bottom: 1em;
	font-family: Helvetica, Arial, sans-serif;
	margin-top: 2em;
	font-size: 11px;
	line-height: 1.2em;
}
.boites h2 {
	margin-bottom: 0.3em;
	margin-top: 0px;
}
.boites ul, .sommaireRubriques ul, .archives ul, .media4 ul, .boites dl, ul.signatures, .contenuDossier ul {
	list-style-type: none;
	margin-left: 4%;
	margin-top: 0.3em;
	padding: 0px 0px 0.5em;
	margin-bottom: 0em;
	font-weight: normal;
}
ul.normal {
	list-style-type: none;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 110%;
	padding-left: 0px;
	margin-top: 0.8em;
	margin-bottom: 0.8em;
	margin-left: 0px;
}
.boites li, .sommaireRubriques li, .archives li, .media4 li, li.signatures, .contenuDossier li {
	margin-top: 0.3em;
	margin-bottom: 0.6em;
	padding: 0px;
	margin-left: 0px;
	margin-right: 0px;
	font-weight: normal;
}
li.signatures {
	margin-top:0;
	margin-bottom:0.3em;
	font-size:90%;
}
.boites dl {
	margin-bottom: 1.3em;
}
.boites dt {
	padding: 0px;
	color: #666666;
	margin-bottom: 0.5em;
	font-weight: bold;
}
.boites dd {
	margin-bottom: 1em;
	padding: 0px;
	margin-left: 4%;
}
.boites p {
	margin-left: 4%;
	font-weight: bold;
	margin-bottom: 0.5em;
}
.hierarchie {
	margin-bottom: 1em;
	position: relative;
	text-align: right;
}
.hierarchie p {
	font: 12px/1.5 Futura,"Helvetica Neue",Helvetica,Arial,sans-serif; }
.hierarchie2 {
	text-align: right;
	margin-bottom: 1em;
	margin-top: 2em;
}
.sommaireRubriques {
	border: 1px solid #E6E6E6;
	width: 227px;
	float: left;
	margin-bottom: 1em;
	margin-right: 9px;
	padding-bottom: 5px;
}
.archives {
	border: 1px solid #E6E6E6;
	width: 160px;
	float: left;
	margin-right: 9px;
	margin-top: 0px;
}
/* pour le formulaire signature pétition */
div.formulaire {
	margin-left: 4%;
	width: 60%;
	text-align: left;
	margin-top: 0px;
}
div.formulaire p {
	margin: auto;
}
fieldset {
	border: 1px solid #000;
}
label {
    display:block;
    text-align:left;
}

.MenuSommaire {
	font-size: 10px;
	width: 150px;
}
#select {
	margin-left: 4%;
	margin-top: 0px;
}
.BoutonSommaire, .spip_bouton input {
	color: #FFF;
	background-color: #510066;
	margin-left: 4%;
	font-size: 90%;
	margin-top: 0.5em;
	line-height: normal;
}
.formulaire_ecrire_auteur .spip_bouton {
    background-color:none;
    text-align:right;
}

.bdp {
	clear: both;
	margin-bottom: 2em;
}
/* menu déroulant secteur gabarit presse */
.MenuPresse {
	width: 65%;
}
li.pluspetit {
	font-size: 90%;
	text-align: right;
	line-height: 2.5em;
}
div.pluspetit {
	font-size: smaller;
}
/* pour les dossiers en HP */
div.contenuDossier {
	padding-top: 9%;
	margin-left: 54%;
	color: #FFF;
	padding-bottom: 5%;
	padding-right: 2%;
	font-weight: bold;
}
div.contenuDossier a {
	color: #FFF;
	font-weight: bold;
}
div.dossier {
	margin-bottom: 2em;
	margin-top: 1em;
}
/* pour les sommaires des dossiers en pages interieures */
#SommaireDossier {
	color: #FFF;
	padding-top: 30px;
	float: right;
	width: 282px;
}
#SommaireDossier h3 {
	margin-top: 0px;
	margin-bottom: 5px;
	margin-left: 50px;
	margin-right: 5px;
}
#SommaireDossier form {
	margin-left: 50px;
	width: 80%;
}
#SommaireDossier select {
}
.entete {
}
.entete h1 {
	font-size: 30px; line-height: 30px;
	color: #909;
	xline-height: 120%;
}
.entete h2 {
	font-weight: normal;
	color: #309;
	font-size: 140%;
}
.entete h3 {
	font-size: 120%;
	text-align: right;
}
.entete h4 {
	text-align: right;
	line-height: 1.4em;
	color: #666;
	font-weight: normal;
	font-size: 12px;
}
.entete h5 {
	text-align: right;
	margin-right: 3%;
}
.entete h6 {
	font-size: 0.9em;
	text-align: right;
	color: #666;
}/*
.entete span {
	font-weight: normal;
	color: #309;
	font-size: 80%;
}*/
.chapo {
	font-weight: bold;
	line-height: 1.4em;
	text-align: justify;
	margin-bottom: 3em;
	clear: right;
	margin-top: 2em;
}
#texte {
	line-height: 1.5em;
	text-align: justify;
	xpadding-left: 25px;
}
#texte h2 {
	font-size: 140%;
	color: #309;
	margin-left: -20px;
	margin-top: 2em;
}
#texte p.spip {
}
#resultats {
	margin-top: 2em;
	margin-bottom: 2em;
}
#resultats h4.ResultatsGDS {
	margin-top: 1.5em;
	margin-bottom: 0.5em;
	color: #309;
}
#resultats h4 {
	margin-top: 1.5em;
	margin-bottom: 0.5em;
}
#resultats h5 {
	font-size: 100%;
	margin-top: 1.5em;
	margin-bottom: 0.5em;
}
#resultats p {
	margin-top: 0px;
	margin-bottom: 1em;
}
#resultats span.Date {
	color: #666;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 90%;
	line-height: 1.8em;
}
div.postscriptum, div.notes, div.signatures {
	font-family: Helvetica, Arial, sans-serif;
	margin-top: 3em;
	margin-bottom: 1em;
	line-height: 1.4em;
	clear: left;
}
#petition {
	border:medium solid #906;
	padding: 2px;
	/*width: 250px;*/
}
div.postscriptum h4, div.notes h4, div.DocLies {
	margin: 0px;
}
div.notes p {
	margin: 0px;
}
.DocAncre {
}
div.AffDocLies {
	float: left;
	width: 41%;
	margin: 3%;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	padding: 1%;
	text-align: center;
}
#signatures {
	padding-left: 25px;
}
#Documents {
	margin-top: 2em;
}
div.AffDocLies span {
	font-weight: bold;
}
dd.noart {
	font-style: italic;
	font-size: smaller;
}
.ArtLies {
	font-size: 120%;
	color: #006;
	margin-top: 2em;
}
form.recherche {
	padding-top: 0.5em;
}
#Colonne dt {
	font-weight: bold;
	margin-top: 2em;
}
#Colonne dd {
	line-height: 1.5em;
}
#Colonne dl {
}
.GuideGlossaireMargeHaute {
	padding-top: 3.8em;
}
.GuideGlossaireColonne {
}
/* pour formulaires Guide, Glossaire */
#FormGuideGlossaire {
	width: 95%;
	padding-top: 0px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 0px;
}
#SelectGuideGlossaire {
	width: 95%;
	font-size: 90%;
	line-height: normal;
}
#GuideGlossaireGauche {
	float: left;
	width: 48%;
	padding-right: 2%;
}
#GuideGlossaireDroite {
	padding-left: 2%;
	width: 48%;
	float: right;
}
#GuideGlossaire {
	padding-left: 2%;
}
.GuideGlossaireElement1 {
	margin-bottom: 2.5em;
	padding: 0px 0px 10px;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}
.GuideGlossaireElement2 {
	margin-bottom: 2.5em;
	padding: 0px;
}
.GuideGlossaireElement3 {
	margin-bottom: 2.5em;
	padding: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
}
h3.GuideGlossaire {
	font-size: 140%;
	margin-left: 10px;
	line-height: 1.2em;
	margin-top: 5px;
	margin-bottom: 0px;
}
h4.GuideGlossaire, h5.GuideGlossaire {
	font-size: 100%;
	margin-left: 10px;
	line-height: 1.2em;
	margin-top: 5px;
	margin-bottom: 0px;
}
p.centre {
	text-align: center;
}
#GuideGlossaireDroiteMot {
	padding-left: 8%;
	float: right;
	width: 42%;
	margin-top: 1em;
	text-align: left;
}
div.titre {
	margin-top: 4em;
	margin-bottom: 4em;
}
div.titre img {
	float: left;
	margin-right: 15px;
}
div.entete img.spip_logos {
	float: left;
	margin-right: 15px;
}
.logoArticles, div.encadrement img.spip_logos {
	padding-top: 2em;
	margin-left: 5px;
	float: right;
}
/* pour le plan */
dl.plan {
	font-family: Georgia, "Times New Roman", Times, serif;
	width: auto;
}
dt.planNiv1, dd.planNiv1 {
	border-left-width: 1px;
	border-left-style: dotted;
	border-left-color: #4C004C;
	padding-left: 1em;
	margin-left: 1em;
}
dt.planNiv2, dd.planNiv2 {
	border-left-width: 1px;
	border-left-style: dotted;
	border-left-color: #4C004C;
	padding-left: 1em;
	margin-left: 2em;
}
dd.plan {
	border-left-width: 1px;
	border-left-style: dotted;
	border-left-color: #4C004C;
	margin-left: 0px;
	padding-left: 1em;
}
dt.planNiv3, dd.planNiv3 {
	border-left-width: thin;
	border-left-style: dotted;
	border-left-color: #4C004C;
	padding-left: 1em;
	margin-left: 3em;
}
form#questionnaireGuide li {
	font-weight: bold;
}
.infos {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 9px;
	text-align: right;
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	padding-right: 1em;
}
/* pour l'affichage du dernier portolio disponible dans la page d'accueil et la page secteur-4.html}
---------------------------------------------------------------------------------- */
div#SommairePortfolio, div.SommairePortfolio {
	color: #FFF;
	background: #000;
	padding-left: 2px;
	padding-top: 2px;
	display: block;
	width: 178px;
}
div.SommairePortfolio {
	text-align:center;
}
img.SommaireLogoArtPortfolio {
	margin-right: 1.2em;
	margin-bottom: 1.2em;
	margin-left: 1.2em;
}
div#SommairePortfolio h2, div#SommairePortfolio a {
}
/* Rubrique Repi
---------------- */
h2.SsTitreRubRepi {
	font-size: 140%;
	margin-bottom: 0px;
	margin-top: 1.8em;
	color: #60C;
}
p.DateRepi {
	font-size: 85%;
	color: #666;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	margin-top: 2em;
}
/* Articles : liens vers photos et documents joints
------------------------------------------ */
div#DocsPhotos {
	text-align: right;
}
img.DocsPhotos {
	float: none;
}
/* Pour les 15 ans 
----------------*/
dl.QuinzeAns {
	width: 190px;
	margin: 0px;
	text-align: center;
}
dt.QuinzeAns {
	margin: 0px 0px 1em;
	color: #CC0099;
}
dd.QuinzeAns {
	margin: 0px 0px 1em;
}
span.Gras {
	font-weight: bold;
}
/* Dossier NoKpote
-----------------*/
div.DossierNoKpote {
	margin-top: 3em;
	width: 250px;
	border: 1px solid #000;
}
div.DossierNoKpote h3 {
	font-size: 120%;
	padding: 5px;
	margin-bottom: 0px;
	border-bottom: 1px solid #000;
	margin-top: 0px;
}
div.DossierNoKpote ul {
	margin: 0.5em 0px 0px;
	list-style: url(../../puce.gif);
}
div.DossierNoKpote ul li {
	margin: 0px 0px 0.7em;
}
div#SommairePortfolioUn {
	color: #FFF;
	background: #000;
	padding-left: 2px;
	padding-top: 2px;
	display: block;
	width: 178px;
	text-align: center;
}
div#SommairePortfolioDeux {
	color: #FFF;
	background: #000;
	padding-left: 2px;
	padding-top: 2px;
	display: block;
	width: 178px;
}
.avertissement {
	margin: 0 0 0 -20px;
	color: #666;
}
.encadrement-CSW {
	background: url(/base/images/SafeWeek/CSW-titre-web.gif) no-repeat 0px 0px;
}
.encadrement-CSW h2 {
	margin:30px 0 10px 10px;
	font-size: 120%;
	color: #DE679D;
}
