h1.DocsTitreRubrique {
	font-size: 180%;
	padding: 3px;
	margin-bottom: 0.5em;
	margin-right: 40%;
	text-align: right;
	margin-top: 1em;
}
h2.DocsMoisAnnee, th.DocsAgendaMois {
	font-size: 110%;
	text-align: center;
	padding: 4px;
	line-height: normal;
	font-weight: normal;
	border: 1px solid #990099;
	color: #909;
}
h2.DocsMoisAnnee {
	margin-top: 0em;
	margin-left: 60%;
	margin-bottom: 2em;
}
h3.DocsTitreDoc {
	font-size: 100%;
	padding: 3px 2px 2px 4px;
	margin-bottom: 0.5px;
	text-align: left;
	margin-right: 40%;
	margin-top: 2em;
	border-bottom: 1px solid #000000;
}
table.DocsListeDocs {
	font-size: 12px;
	width: 100%;
	color: #666;
}
table.DocsListeDocs td {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCCCCC;
}
span.DocsAnnee {
	font-weight: bold;
	font-style: normal;
}
span.DocsJour {
	font-weight: bold;
	font-style: normal;
}
th.Semaine, th.DocsAgendaJour {
}
td.DocsAgendaMois {
	font-size: 90%;
	color: #909;
	border: 1px solid #909;
}
th.Vide {
}
td.Semaine {
}
 th.Semaine {
}
table.agenda {
	font-size: 10px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
table.agenda th, table.agenda td {
	padding: 3px;
	text-align: center;
}
td.agendaNotThisMonth {
	color: #666;
	font-size: 9px;
}
table.agenda a {
	text-decoration: underline;
	font-weight: bold;
}
table.DocsListeDocs p {
	margin-top: 1em;
	margin-bottom: 1em;
	font-weight: bold;
}
td.DocsListeTitre {
	width: 40%;
}
