/* styles importes 
------------------ */
@import url("structure.css");
@import url("base.css");
@import url("couleurs.css");
@import url("spip.css");
@import url("guide.css");
@import url("teeshirts.css");
@import url("radio.css");

/* styles de base
--------------- */

/*
body {
	margin: 0px;
	padding: 0px;
	font: 12px/1.4em Georgia, "Times New Roman", Times, serif;
	background-color: #FFF;
	color: #000;
}*/
