div.CorpsRubrique a:visited {
}
ul.mots {
	list-style-type: none;
	margin-top: 1.3em;
	margin-left: 0px;
	padding-left: 0px;
}
ul.mots li.mots {
	margin-bottom: 10px;
	float: none;
	margin-top: 0px;
	padding: 0px;
	margin-left: 15px;
}
p.lettre {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	font-size: 200%;
	margin-left: 10px;
	float: left;
	text-align: center;
	font-weight: bold;
	margin-top: 5px;
	margin-right: 5px;
}
p.abecedaire {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	margin-top: 1em;
	margin-bottom: 2em;
	font-size: 110%;
}
p.GuideGlossaire {
	font-family: Geneva, Helvetica, Arial, sans-serif;
	font-size: 80%;
	margin-top: 0.7em;
	margin-bottom: 0px;
}
p.MotsGuide {
	font-family: Geneva, Helvetica, Arial, sans-serif;
	font-size: 90%;
}
ul.normal li {
	font-weight: bold;
	list-style: none;
}
li.niveau0 {
	padding-left: 0px;
	margin-left: 0px;
}
ul.normal ul {
	padding-left: 20px;
	list-style-type: none;
	margin-top: 0.5em;
	margin-left: 0px;
}
ul.normal p {
	font-weight: normal;
	font-family: Georgia, "Times New Roman", Times, serif;
	text-align: justify;
	font-size: 12px;
}
li.niveau2 {
	font-size: 10px;
}
li.NiveauArticle {
	margin-left: 5px;
}
#Separation {
	padding-bottom: 0.5em;
	padding-top: 10px;
	margin-bottom: 2em;
	margin-top: 0px;
}
#Recherche {
	margin-top: 3em;
	border: 1px solid #CCCCCC;
	padding-bottom: 0.5em;
	padding-top: 10px;
	margin-bottom: 1em;
}
#Recherche form {
	margin: 10px;
}
#Separation2 {
	margin-top: 4em;
}
#PiedGDS {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin-top: 0em;
	padding: 0.8em;
	margin-bottom: 1.5em;
}
#SommaireGlossaire {
	text-align: right;
	margin-top: 2em;
}
#SommaireGlossaire form {
	margin-bottom: 0px;
}
#SommaireGlossaire select, #SommaireGlossaire input {
	margin-left: 3px;
	margin-bottom: 0px;
}
#Separation p, p.RechercheGuide {
	margin-top: 0.6em;
	margin-bottom: 2em;
}
dl.RechercheGuide {
	margin-left: 20px;
	margin-bottom: 2em;
	margin-top: 0px;
}
dl.RechercheGuide dt {
	font-family: Helvetica, Arial, Verdana, sans-serif;
	margin-top: 0px;
}
dl.RechercheGuide dd {
	margin-left: 15px;
}
